<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp | José Fernando</title>
      <!--<link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>-->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      
   </head>

   <body>
      <div class="container">
         <h1>Timestamp microservice</h1>
        <p>
          <h2>
            User stories:

          </h2>
          <ol>
            <li>
              I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)
            </li>
            <li>
               If it does, it returns both the Unix timestamp and the natural language form of that date.
            </li>
            <li>
              If it does not contain a date or Unix timestamp, it returns null for those properties.
            </li>
        </ol>
        </p>
       <h3>
         https://tstmp.glitch.me/<input type="text" id="xdtxt"/>
         <a class="button"  id="xdbtn">
           Go!
         </a>
       </h3>
      </div>
    <script src="../public/javascript/xd.js"></script> 
   </body>
  
</html>
